In [ ]:
# import pandas as pd
import pandas as pd

# list of strings
lst = ['a', 'b', 'c']

# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
ds = pd.Series(lst)
pd.Series(list,index=["a"])
print(df)
print(ds)

   0
0  a
1  b
2  c
0    a
1    b
2    c
dtype: object

In [ ]:
df.get(0)

0     a
1     b
2     c
3     d
4     e
5    fr
6     g
Name: 0, dtype: object

In [ ]:
df[0]

0     a
1     b
2     c
3     d
4     e
5    fr
6     g
Name: 0, dtype: object



> Indented block

In [ ]:
df.loc[[0,1]]

   0
0  a
1  b